<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sticky Blog</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/create-blog.css') }}">
</head>
<body>
  <header class="container">
    <h1>Sticky Blog</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </nav>
    <div class="auth-buttons">
        <a href="#" id="signOutButton">Sign Out</a>
    </div>
  </header>
  <main>
    <div class="create-button-container">
      <a href="#" class="create-button">Create a Sticky Blog</a>
    </div>
  </main>
  <footer class="footer">
    <p>&copy; <?php echo date("Y"); ?> Sticky Blog. All Rights Reserved.</p>
  </footer>
  <script src="{{ url_for('static', filename='js/sign-out.js') }}"></script> 
</body>
</html>
