<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sticky Blog</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sticky-note.css') }}">
</head>
<body>
    <header class="container">
        <h1>Sticky Blog</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="#">Log In</a>
            <a href="#">Sign Up</a>
        </div>
    </header>
    <main>
        <section class="hero">
            <h2>Welcome to Sticky Blog</h2>
            <p>Where every note sticks and every message resonates!

                Sticky Blog is your virtual community corkboard, a place where you can share and discover all kinds of sticky notes, from important announcements to inspirational quotes, quirky doodles to handy reminders.
                
                Imagine a digital hub where individuals, teams, and communities come together to showcase their creativity, communicate their thoughts, and connect with others through the simple yet powerful medium of sticky notes.
                
                What makes Sticky Blog truly unique is its vibrant and diverse content. Here, you'll find everything from colorful office memos to heartfelt love letters, from hilarious jokes to thought-provoking messages. It's a melting pot of ideas, emotions, and expressions, where each sticky note tells a story and sparks a conversation.
                
                Whether you're looking for a dose of inspiration, a laugh, or just a glimpse into the lives of others, Sticky Blog has something for everyone. So join us, browse through the virtual sticky notes, and get ready to be inspired, entertained, and maybe even surprised by what you find!
            </p>
            <a href="#" class="get-started-btn">Get Started for free</a>
        </section>

        <section class="latest-posts">
            <h3>Latest Posts</h3>
            <sticky-note class = "sticky-note" data='{"header": "Groceries", "paragraph": "Bread, Milk, Eggs"}'></sticky-note>
            <sticky-note class = "sticky-note" data='{"header": "Thing to do", "paragraph": "Eat sleep repeat"}'></sticky-note>
        </section>
    </main>

    <footer class="container">
        <p>&copy; <?php echo date("Y"); ?> Sticky Blog. All Rights Reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/sticky-note.js') }}"></script>
</body>
</html>
