<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp Page</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
</head>
<body>
    <header class="container">
        <h1>Sticky Blog</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="{{ url_for('login') }}">Log In</a>
        </div>
    </header>
    <main>
        <div class="form">
            <h2>Sign Up</h2>
            <form action="/signup" method="post">
              <div class="input-field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
              </div>
              <div class="input-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
              </div>
              <div class="input-field">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
              </div>
              <button class="button" type="submit">Sign Up</button>
            </form>
          </div>          
    </main>

    <footer class="footer">
        <p>&copy; <?php echo date("Y"); ?> Sticky Blog. All Rights Reserved.</p>
    </footer>   
</body>
</html>
