.create-board-container {
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #fdf5e6;
  border-radius: 5px;
  max-width: 500px; 
  background-color: #EDD757;
}

.create-board-container h2 {
  margin-bottom: 1rem;
}

.create-board-container p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #888;
}

.create-board-container form {
  display: flex;
  flex-direction: column;
}

.create-board-container label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.create-board-container input[type="text"],
.create-board-container textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box; /* Ensures content fits within border */
}

.create-board-container textarea {
  min-height: 100px;
}

.create-board-container button[type="submit"] {
  background-color: #BAA826; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.create-board-container button[type="submit"]:hover {
  background-color: #AD6000; 
}
