.sticky-note {
    background-color: #FFFFFF;
    border: 1px solid #fdf5e6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: inline-block;
    margin: 10px;
    border-radius: 5px; /* Add rounded corners for a softer look */
    position: relative; /* Needed for pseudo-element positioning */
    height: 212px;
    width: 320px;
  }
  
  .sticky-note:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }
  
  .sticky-note h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
  }
  
  .sticky-note p {
    margin-top: 5px;
    line-height: 1.5;
  }