body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDD757;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #BAA826;
}

h1 {
    font-size: 2em;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.auth-buttons {
    display: flex;
}

.auth-buttons a {
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

.auth-buttons a:hover {
    background-color: #ddd;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #5B5200;
}
