body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDD757;
    background-image: url("../images/wood-board-background.jpg");
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #BAA826;
}

h1 {
    font-size: 2em;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.auth-buttons {
    display: flex;
}

.auth-buttons a:nth-child(2) {
    /* Styles for the second button (Sign Up) */
    background-color: #EDD757; /* Green color */
    color: #fff; /* White text color */
  }
  
  .auth-buttons a {
    /* Default styles for both buttons (optional) */
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #000; /* Black text color by default */
  }
  

.auth-buttons a:hover {
    background-color: #AD6000;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #5B5200;
}
.hero {
    /* Styles for the hero section */
    background-color: #EDD757; /* Light blue background */
    padding: 30px;
    text-align: center; /* Center the content within the hero section */
  }
  
  .hero h2 {
    /* Styles for the hero section heading */
    font-size: 2em; /* Set a larger font size for the heading */
    margin-bottom: 10px;
  }
  
  .hero p {
    /* Styles for the hero section description */
    font-size: 1.2em; /* Set a medium font size for the description */
    line-height: 1.5; /* Increase line spacing for readability */
  }

  .get-started-btn {
    background-color: #000; /* Green color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Add some padding to the button */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to indicate clicking on hover */
    font-weight: bold; /* Make the text bolder */
    text-decoration: none; /* Remove underline from text */
    display: inline-block; /* Make the button display as a block element */
    margin-top: 20px; /* Add some space above the button */
  }

  .get-started-btn:hover {
    background-color: #AD6000;
  }
  
  .latest-posts {
    /* Styles for the latest posts section */
    margin-top: 30px; /* Add some space between the hero and latest posts sections */
  }
  
  .latest-posts h3 {
    /* Styles for the latest posts heading */
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  

  
